:root {
  --color-brand-black: #171D1A;
  --color-brand-white: #f1f1f1;
  --color-brand-yellow: #FFD11F; }

body {
  background-color: var(--color-brand-black);
  font-family: 'Work Sans', sans-serif;
  color: var(--color-brand-white);
  font-size: 20px; }

html,
body {
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  overflow-y: overlay; }

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center; }

::-webkit-scrollbar-thumb {
  background-color: rgba(219, 219, 219, 0.5);
  opacity: .2;
  height: 100px;
  border-radius: 10px; }
  ::-webkit-scrollbar-thumb:hover {
    background: #dbdbdb; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  padding: 2em; }

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 2em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center; }

@-webkit-keyframes blink {
  0%,
  89% {
    opacity: 1; }
  90%,
  100% {
    opacity: 0; } }

@keyframes blink {
  0%,
  89% {
    opacity: 1; }
  90%,
  100% {
    opacity: 0; } }

.header__menu-button,
.menu__close-button {
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-bottom: 8px solid var(--color-brand-white);
  width: 75px;
  height: 50px; }

a {
  color: var(--color-brand-white);
  text-decoration: none; }
  a:hover, a:focus {
    color: var(--color-brand-yellow); }

.footer__central-text p {
  margin-bottom: 0; }

@-webkit-keyframes pulse {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); } }

@keyframes pulse {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); } }

.menu {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0; }

.main-menu__links {
  color: var(--color-brand-white);
  font-size: 42px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: inline-block;
  text-transform: uppercase; }

.main-menu__list {
  border-right: 1px solid var(--color-brand-white);
  position: absolute;
  top: 0;
  left: 0;
  right: 25%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  margin-top: 0;
  padding: 0 1em 0 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: rgba(23, 29, 26, 0.9);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%); }

.menu__close-button {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 1; }

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none; }

.splash-pages {
  z-index: 50;
  height: 400vh; }

.header--closed {
  display: none; }

.footer--closed {
  display: none;
  opacity: 0; }

.splash-page__main-text {
  font-size: 40px;
  margin-bottom: 0.2em;
  max-width: 1036px; }

.splash-page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.backdrop-blur {
  background-color: rgba(23, 29, 26, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.splash-page-one__scroll-down {
  position: fixed;
  bottom: 1em;
  left: 0;
  z-index: 9999;
  text-align: center;
  font-size: 16px;
  right: 0;
  padding-top: 50px; }

sp
.splash-page-one__scroll-down p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center; }

.silence-button {
  position: fixed;
  top: 1em;
  left: 50%;
  z-index: 100;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.audio__active {
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out; }

.audio-off .audio__active {
  opacity: .2; }

.audio-off {
  cursor: auto; }

.lead-text {
  text-align: right;
  font-size: 36px;
  color: var(--color-brand-white);
  max-width: 981px;
  margin-left: auto; }

.page-overlay {
  background-color: var(--color-brand-black);
  border-top: 1px solid var(--color-brand-white);
  margin-top: 180px;
  z-index: 10;
  overflow: hidden; }

.page-overlay__heading {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center; }

.page-overlay__back-button {
  position: absolute;
  top: 50px;
  left: 50px; }

h1 {
  margin-bottom: 100px;
  text-transform: uppercase; }

.page-overlay__content-container {
  padding-left: 76px;
  padding-right: 76px;
  margin-bottom: 173px;
  max-width: 1512px;
  margin-inline: auto;
  position: relative; }
  + .page-overlay__content-container {
    margin-top: 2em; }

.person {
  display: grid;
  grid-template-columns: 432px auto;
  grid-column-gap: 40px;
  margin-bottom: 164px; }

.person-image {
  width: 100%;
  height: auto;
  vertical-align: middle;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter .5s ease-in-out;
  transition: -webkit-filter .5s ease-in-out;
  -o-transition: filter .5s ease-in-out;
  transition: filter .5s ease-in-out;
  transition: filter .5s ease-in-out, -webkit-filter .5s ease-in-out; }

.person__information {
  position: relative; }

.person__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-brand-black);
  padding-left: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  -o-transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out; }

.person__overlay-text {
  -webkit-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out; }

.person:hover .person__overlay {
  -webkit-transform: translateX(75%);
      -ms-transform: translateX(75%);
          transform: translateX(75%); }

.person:hover .person__overlay-text {
  opacity: .5; }

.person:hover .person-image {
  -webkit-filter: grayscale(0);
          filter: grayscale(0); }

.person__overlay:before {
  content: '';
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: 0;
  border-left: 4px solid var(--color-brand-white); }

.person__information > p {
  max-width: calc(75% - 40px); }

.person__overlay-text {
  opacity: 1; }

.persons {
  padding-left: 76px;
  max-width: 1512px;
  margin-inline: auto; }

.nav__link {
  text-transform: uppercase; }

.splash-page-one__scroll-down small {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block; }

.splash-page-one {
  z-index: 1; }

.logo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center 40vh;
  background-size: 900px;
  background-image: url("../assets/images/LOGO.png");
  z-index: -2; }

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

h3 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 0.5em; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0; }

legend {
  display: table; }

label,
legend {
  color: #B0B0B0;
  font-size: 20px; }

legend {
  margin-bottom: 1em; }

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.radio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

input[type="radio"] + label {
  position: relative;
  padding-left: 30px; }

input[type="radio"] + label:before {
  margin-right: 5px;
  content: '';
  background-color: transparent;
  border: 1px solid var(--color-brand-white);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: background-color 1s ease-in-out;
  -o-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out; }

input[type="radio"]:checked + label:before,
input[type="radio"]:hover + label:before,
input[type="radio"]:focus + label:before {
  background-color: var(--color-brand-white); }

input[type="radio"]:checked + label {
  font-weight: 800; }

input[type="radio"] {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.input-wrapper {
  position: relative; }

.input-wrapper label {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  line-height: 40px;
  pointer-events: none;
  font-size: .75em;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }

input,
textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 5px solid #C4C4C4;
  color: var(--color-brand-white);
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 1em; }

input:focus,
textarea:focus {
  border-bottom: 5px solid var(--color-brand-white);
  outline: none; }

.input-wrapper:focus-within label {
  color: var(--color-brand-white);
  -webkit-transform: scale(0.5) translate(-50%, -75%);
      -ms-transform: scale(0.5) translate(-50%, -75%);
          transform: scale(0.5) translate(-50%, -75%); }

button[type="submit"] {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em 1em;
  max-width: 250px;
  width: 100%;
  background: transparent;
  border: 1px solid var(--color-brand-white);
  color: var(--color-brand-white);
  text-align: left; }
  button[type="submit"]:hover, button[type="submit"]:focus {
    background-color: var(--color-brand-white);
    color: var(--color-brand-black); }

#budget > * {
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out; }

#budget[data-pg-ia-hide] > *,
#budget.fade-out > * {
  opacity: 0; }

#budget[data-pg-ia-show] > * {
  opacity: 1; }

#transition-text > div {
  overflow: hidden; }

#transition-text {
  font-size: 40px;
  text-align: center; }

.lead-text--left {
  text-align: left;
  margin-left: 0; }

.process__image {
  position: absolute;
  max-width: 538px;
  right: 0;
  top: 50%;
  width: 25vw;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.process {
  max-width: 900px;
  position: relative; }

.splash-page-one__audio-button {
  background-color: var(--color-brand-white);
  color: var(--color-brand-black);
  border: none;
  border-radius: 3px; }

.silence-button__button {
  background: transparent;
  border: none;
  cursor: not-allowed;
  display: block;
  margin-inline: auto; }
