:root {
    --desktop-max-width: 1360px;
    --spacing-results-desktop: 19.5px;
    overscroll-behavior: none;
    --dark-rgb: 46, 46, 46;
    --white-rgb: 245, 245, 243;
}

@media (prefers-color-scheme: dark) {
    :root {
        --white: #2E2E2E;
        --dark: #f5f5f3;
        --dark-rgb: 245, 245, 243;
        --white-rgb: 46, 46, 46;
    }
}

::-moz-selection {
    color: var(--white);
    background: var(--dark);
}

::selection {
    color: var(--white);
    background: var(--dark);
}

@keyframes move-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes move-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

::view-transition-old(root) {
    animation: 0.4s linear both move-out;
}

::view-transition-new(root) {
    animation: 0.4s linear both move-in;
}

.code {
    font-family: var(--ywf--family-dm-mono);
    width: 150px;
    font-size: 0.75rem;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    color: var(--light);
}

@media (min-width: 48rem) {
    .code {
        font-size: 1rem;
        width: 206px;
    }
}

.container {
    max-width: var(--desktop-max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 48rem) {
    .container {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

.main-nav-wrapper {
    margin: 1rem 0 0;
    border-width: 2px;
    border-style: solid;
    display: flex;
    background-color: var(--white);
    overflow: hidden;
}

@media (min-width: 48rem) {
    .main-nav-wrapper {
        margin: 2.75rem 0 0;
    }
}

.main-nav-home {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: var(--dark);
    position: relative;
    color: var(--dark);
    transition: color .3s;
    perspective: 75px;
}

@media (min-width: 40rem) {
    .main-nav-home {
        padding: 1.25rem 1.8125rem;
    }
}

.footer__main-wrap {
    padding: 1rem 0;
    position: relative;
}

@media (min-width: 35.5rem) {
    .footer__main-wrap {
        padding: 2.875rem 0 3.3125rem;
    }
}

.footer {
    color: #3A373A;
}

@media (min-width: 35.5rem) {
    .footer {
        padding-top: 1.5625rem;
    }
}

@media (min-width: 48rem) {
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100vh;
        display: flex;
        align-items: flex-end;
    }
}

.footer__header {
    font-family: var(--ywf--family-orbitron);
    text-transform: uppercase;
    font-weight: 700;
    font-size: clamp(2rem, 5vw + 1rem, 3.375rem);
    color: #3A373A;
}

.footer__header-link {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 0.25em;
}

@media (min-width: 35.5rem) {
    .footer__header-link {
        font-size: 0.5em;
    }
}

@media (min-width: 71.75rem) {
    .footer__header-link {
        font-size: inherit;
    }
}

/* .footer__header-link {
    font-size: 2rem;
} */
.footer__menu-link {
    font-family: var(--ywf--family-dm-mono);
    color: #3A373A;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: filter 0.3s ease-in-out;
}

@media (min-width: 48rem) {
    .footer__menu-link {
        font-size: 1.5rem;
    }
}

.footer__menu {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

@media (min-width: 40rem) {
    .footer__menu {
        column-gap: 5rem;
        flex-direction: row;
        row-gap: 1rem;
    }
}

.footer__copyright-wrap {
    padding-top: 2.5625rem;
    overflow: hidden;
}

.footer__copyright {
    font-family: var(--ywf--family-orbitron);
    font-size: clamp(1rem, 8vw + 1rem, 7.601875rem);
    color: transparent;
    -webkit-text-stroke: 1px #3A373A;
    font-weight: 700;
    text-align: center;
    line-height: 100%;
    margin: 0;
}

.footer__socials {
    display: flex;
    gap: 12px;
}

body {
    font-family: var(--ywf--family-supreme-variable);
    font-size: 16px;
    font-weight: 700;
    color: var(--dark);
    background-color: var(--white);
}

body:not(#ai-competency-test-container):after {
    content: '';
    display: block;
    height: 100vh;
    background-color: var(--primary);
}

body.home {
    padding-top: 0;
}

.index-main {
    max-width: 892px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.contact-us__header {
    color: transparent;
    -webkit-text-stroke: 1px var(--dark);
    font-size: clamp(3rem, 5vw + 1rem, 7.601875rem);
    text-transform: uppercase;
    margin: 0;
}

.angled-button,
.angled-border {
    display: inline-block;
    padding: 1rem 4.625rem 1rem;
    text-decoration: none;
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: transparent;
    position: relative;
    clip-path: polygon(9px 0,
            calc(100% - 9px) 0,
            100% 9px,
            100% calc(100% - 9px),
            calc(100% - 9px) 100%,
            9px 100%,
            0 calc(100% - 9px),
            0 9px);
    transition: all .3s ease-in-out;
    text-align: center;
    text-transform: uppercase;
}

.angled-button::before,
.angled-button::after,
.angled-border::before,
.angled-border::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid var(--primary);
}

.angled-button::after,
.angled-border::after {
    bottom: auto;
    top: 0;
    border-bottom: none;
    border-top: 9px solid var(--primary);
}

.angled-button span::before,
.angled-button span::after,
.angled-border span::before,
.angled-border span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid var(--primary);
}

.angled-button span::after,
.angled-border span::after {
    bottom: auto;
    top: 0;
    border-bottom: none;
    border-top: 10px solid var(--primary);
}

a.angled-button:hover,
a.angled-button:focus,
button.angled-button:hover,
button.angled-button:focus {
    background-color: var(--primary);
    color: var(--white);
    outline: none;
}

.post-featured-image {
    width: 100%;
    object-fit: cover;
}

.blog-container {
    max-width: 892px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.blog-container {
    color: var(--dark);
    font-family: var(--ywf--family-supreme-variable);
    padding-top: 202px;
    margin-bottom: 100px;
}

.blog-container h1 {
    font-size: 2.25rem;
    line-height: 150%;
}

.blog-container h2 {
    font-family: var(--ywf--family-dm-mono);
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 3rem;
}

.blog-container a {
    color: var(--primary);
}

.blog-container a:hover,
.blog-container a:focus {
    text-decoration: underline;
}

.blog-container .wp-block-quote {
    font-family: 'Orbitron';
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--primary);
    padding: 0;
    margin: 2rem 2rem 2rem auto;
}

.blog-container .wp-block-image {
    margin-top: 1rem;
}

.blog-container .wp-element-caption {
    font-style: italic;
    color: var(--light);
    text-align: center;
}

.blog-container .wp-block-embed {
    margin-top: 1rem;
}

.blog-container .wp-block-embed.is-type-video iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: 100%;
}

@media (min-width: 48rem) {
    .blog-container .wp-block-quote {
        width: 75%;
    }
}

.home-hero {
    min-height: 100svh;
}

.home-hero__heading-stagger {
    display: inline;
}

@media (min-width: 48.0625rem) {
    .home-hero__heading-stagger {
        text-align: right;
        transition: all .3s ease-out;
        display: block;
        clip-path: inset(0 0 0 100%);
    }
}

.home-hero__heading-top-bar {
    font-size: 0.75rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (min-width: 40rem) {
    .home-hero__heading-top-bar {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 0;
    }
}

.home-hero__tagline {
    line-height: 150%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 0;
}

@media (min-width: 35.5rem) {
    .home-hero__tagline {
        font-size: 1.5rem;
    }
}

@media (min-width: 61.4375rem) {
    .home-hero__tagline {
        font-size: 2.25rem;

        /* max-width: 787px */
        margin-left: 50%;
    }
}

.home-hero__bottom-section {
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 35.5rem) {
    .home-hero__bottom-section {
        justify-content: flex-end;
        text-transform: uppercase;
        gap: 206px;
        position: relative;
        flex-direction: row;
    }
}

.home-hero__bottom-section-graphic {
    /* position: absolute */
    right: 0;
    bottom: 10%;
}

@media (min-width: 40rem) {
    .home-hero__bottom-section-graphic {
        left: 0;
        bottom: 0;
        right: auto;
        position: absolute;
    }
}

.our-work__featured-item {
    color: var(--dark);
    text-decoration: none;
}

@media (min-width: 40rem) {
    .our-work__featured-item {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 68.625rem) {
    .our-work__featured-item {
        grid-template-columns: 60.35502959% 1fr;
        gap: 76px;
    }
}

.our-work__featured-item-title {
    font-family: var(--ywf--family-orbitron);
    color: transparent;
    -webkit-text-stroke: 1px var(--dark);
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 2rem;
    transition: color .3s ease-in-out;
}

@media (min-width: 68.625rem) {
    .our-work__featured-item-title {
        position: relative;
        left: -150px;
        top: 0;
    }
}

@media (min-width: 68.625rem) and (max-width: 90rem) {
    .our-work__featured-item-title {
        font-size: clamp(2rem, 4vw + 1rem, 4rem);
    }
}

@media (min-width: 90rem) {
    .our-work__featured-item-title {
        font-size: clamp(2rem, 4vw + 1rem, 5.0625rem);
    }
}

.our-work__featured-item-title div:first-child {
    -webkit-text-stroke: 1px var(--primary);
}

.our-work__featured-item-client {
    text-transform: uppercase;
}

@media (min-width: 40rem) {
    .our-work__featured-item-client {
        margin-bottom: 1rem;
    }
}

.our-work__featured-item-image {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
    height: auto;
    clip-path: polygon(20px 0,
            calc(100% - 20px) 0,
            100% 20px,
            100% calc(100% - 20px),
            calc(100% - 20px) 100%,
            20px 100%,
            0 calc(100% - 20px),
            0 20px);
    position: relative;
}

@media (min-width: 40rem) {
    .our-work__featured-item-image {
        height: 100%;
    }
}

.our-work__featured-item-content-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding-bottom: 3rem;
}

.our-work,
.our-process,
.prices,
.section {
    margin-bottom: 5rem;
    margin-top: 5rem;
    position: relative;
}

@media (min-width: 48rem) {
    .our-work,
    .our-process,
    .prices {
        margin-bottom: 10.5625rem;
        margin-top: 10.5625rem;
    }
}

.our-work__featured-item-arrow {
    position: absolute;
    top: 0;
    right: 0;
    transition: transform .3s ease-in-out;
    display: none;
}

@media (min-width: 40rem) {
    .our-work__featured-item-arrow {
        display: block;
    }
}

.our-work__featured-item:hover .our-work__featured-item-arrow,
.our-work__featured-item:focus .our-work__featured-item-arrow {
    animation: infinite 1s ease-in-out side-bounce alternate-reverse;
}

@keyframes side-bounce {
    from {
        transform: translateX(-20px);
    }

    to {
        transform: translateX(0);
    }
}

.page__intro {
    font-size: 1rem;
    font-weight: 500;
    max-width: 688px;
    font-family: var(--ywf--family-dm-mono);
    text-transform: uppercase;
    margin-bottom: 3rem;
}

@media (min-width: 35.5rem) {
    .page__intro {
        font-size: 1rem;
    }
}

.page__title {
    color: var(--primary);
    font-size: clamp(2rem, 10vw + 1rem, 7.5625rem);
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
    overflow: hidden;
}

@media (min-width: 48rem) {
    .page__title {
        font-size: 7.5625rem;
    }
}

p {
    margin: 1rem 0 0;
}

p+p {
    margin-top: 1rem;
}

.results__item--hidden {
    display: none !important;
}

.results__item {
    clip-path: polygon(20px 0,
            calc(100% - 20px) 0,
            100% 20px,
            100% calc(100% - 20px),
            calc(100% - 20px) 100%,
            20px 100%,
            0 calc(100% - 20px),
            0 20px);
    position: relative;
    background-color: #3A373A;
    text-transform: uppercase;
    grid-column: span 3;
    aspect-ratio: 328 / 241;
    display: block;
}

.results__item a img,
a.results__item img {
    transition: transform .3s ease-in-out;
}

.results__item a:hover img,
.results__item a:focus img,
a.results__item:hover img,
a.results__item:focus img {
    transform: scale(1.1);
}

.results__item.featured .results__item-title {
    color: transparent;
    -webkit-text-stroke: 1px #FFFFF7;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Orbitron";
}

@media (min-width: 40rem) {
    .results__item.featured .results__item-title {
        font-size: 2.5rem;
    }
}

@media (min-width: 80.6875rem) {
    .results__item.featured .results__item-title {
        font-size: 3.375rem;
    }
}

.results__item-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 1rem;
    color: #FFFFF7;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: .5rem;
    column-gap: 1rem;
}

.results__item>*:after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    inset: 0;
    z-index: -1;
}

@media (min-width: 35.5rem) {
    .results__item-content {
        row-gap: 1rem;
        column-gap: 2rem;
        padding: 1.5rem;
    }
}

@media (min-width: 48rem) {
    .results__item-content {
        padding: 2.375rem;
    }
}

.results__item-content--testimonial {
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
    display: flex;
}

.results__item-tag {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-width: 1px;
    border-style: solid;
    flex-shrink: 0;
    font-size: 0.75rem;
}

@media (min-width: 48rem) {
    .results__item-tag {
        font-size: 1rem;
    }
}

.results__item-header {
    flex-grow: 1;
}

.results__item-testimonial-image {
    position: absolute;
    right: 2.375rem;
    bottom: 2.375rem;
    border-radius: 50%;
    width: 144px;
    height: 144px;
    z-index: -1;
}

.results__list--main {
    display: grid;
    gap: var(--spacing-results-desktop);
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: var(--spacing-results-desktop);
}

.results__item.featured {
    grid-column: span 6;
    aspect-ratio: 245 / 114;
}

@media (max-width: 35.5rem) {
    .results__item {
        grid-column: span 6;
        aspect-ratio: 173 / 100;
    }
}

@media (min-width: 48rem) {
    .results__item.featured {
        grid-column: span 4;
        aspect-ratio: 173 / 100;
    }

    /* When a large item follows a regular item, move it to the next row */
    .results__list--main .results__item:not(.featured)+.results__item.featured {
        grid-column: 3 / -1;
        aspect-ratio: 413 / 489;
    }

    .results__list--main .results__item:has(+ .featured) {
        grid-column: span 2;
        aspect-ratio: 413 / 489;
    }

    /* Ensure items following a featured item take up full width if they're alone in the row */
    .results__list--main .results__item.featured+.results__item:not(.featured):nth-child(even) {
        grid-column: 5 / -1;
        aspect-ratio: 413 / 489;
    }
}

.results__item-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.25em;
    font-family: var(--ywf--family-supreme-variable);
}

.results__item-title--testimonial {
    font-family: var(--ywf--family-orbitron);
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
}

@media (min-width: 40rem) {
    .results__item-title {
        font-size: 2.25rem;
    }

    .results__list--main .results__item:not(.featured)+.results__item.featured .results__item-title,
    .results__list--main .results__item:has(+ .featured) .results__item-title,
    .results__list--main .results__item.featured+.results__item:not(.featured):nth-child(even) .results__item-title {
        font-size: 2rem;
    }

    .results__item-title--testimonial {
        font-size: 2rem;
    }
}

@media (min-width: 80.6875rem) {
    .results__item-title--testimonial-large {
        font-size: 3.375rem;
    }
}

.results__item-image {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.results__list--featured .results__item-title {
    font-family: var(--ywf--family-orbitron);
    font-weight: 700;
    font-size: clamp(2rem, 10vw + 1rem, 5.0625rem);
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 1px #FFFFF7;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.main-nav__nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.main-nav__menu-button {
    background-color: transparent;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    display: block;
}

@media (min-width: 48rem) {
    .main-nav__menu-button {
        display: none;
    }
}

.results__item-tagline {
    font-family: var(--ywf--family-dm-mono);
    font-weight: 500;
    font-style: normal;
}

@media (min-width: 48rem) {
    .results__item-tagline {
        font-size: 1.5rem;
    }
}

.results__item--featured {
    grid-column: span 6;
    width: 100%;
    height: 100%;
}

.contact-us__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.125rem;
}

.about__lead-text {
    font-size: 1.5rem;
    text-transform: uppercase;
}

@media (min-width: 48rem) {
    .about__lead-text {
        font-size: 2.25rem;
        margin-left: 13.97928994vw;
    }
}

.about__team-list {
    margin-bottom: 7.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 350px;
}

.results__item-image--medal {
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.four-oh-four {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 12.625rem;
    height: 100vh;
    margin-top: 120px;
    background-image: url('/wp-content/uploads/2024/07/space-scaled.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.four-oh-four__title {
    font-family: var(--ywf--family-orbitron);
    font-size: 10.125rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 1px var(--dark);
    line-height: 1;
    text-align: center;
}

.four-oh-four__text {
    font-size: 2.25rem;
    text-transform: uppercase;
    text-align: center;
}

.four-oh-four__text-link {
    color: var(--primary);
    text-decoration: none;
}

.main-nav__list {
    display: none;
    margin: 0 2rem 0 0;
}

@media (min-width: 48rem) {
    .main-nav__list {
        display: flex;
        list-style-type: none;
        padding: 0;
        gap: 2rem;
        margin: 0;
    }
}

.main-nav__list-link {
    color: var(--dark);
    text-decoration: none;
    font-family: var(--ywf--family-dm-mono);
    text-transform: uppercase;
}

.main-nav__list-link.current_page_item {
    font-weight: 700;
    color: var(--primary);
}

.main-nav__list-link:before {
    content: "<";
    margin-right: 10px;
    opacity: 0;
}

.main-nav__list-link:after {
    content: ">";
    margin-left: 10px;
    opacity: 0;
}

.main-nav__list-link.current_page_item:before,
.main-nav__list-link.current_page_item:after,
.main-nav__list-link:hover:after,
.main-nav__list-link:focus:after,
.main-nav__list-link:hover:before,
.main-nav__list-link:focus:before {
    opacity: 1;
    transform: translateX(0);
}

.home-hero__heading {
    color: var(--primary);
    font-size: 2.5rem;
    line-height: 90%;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0.625rem;
    margin-bottom: 1.3125rem;
}

@media (min-width: 35.5rem) {
    .home-hero__heading {
        font-size: 3rem;
    }
}

@media (min-width: 62.1875rem) {
    .home-hero__heading {
        font-size: 4rem;
        padding-bottom: 1.5rem;
        line-height: 90%;
        white-space: nowrap;
        margin-top: 0.625rem;
        border-bottom: 1px solid var(--dark);
        margin-bottom: 1.3125rem;
    }
}

@media (min-width: 82.1875rem) {
    .home-hero__heading {
        font-size: 5rem;
    }
}

.home__section-header {
    font-size: 3.375rem;
    text-transform: uppercase;
    color: var(--light);
    text-align: center;
}

@media (max-width: 39.9375rem) {
    .home__section-header {
        font-size: 2.5rem;
    }
}

.our-packages__package-title {
    font-family: var(--ywf--family-orbitron);
    color: transparent;
    -webkit-text-stroke: 1px var(--package-color);
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

@media (min-width: 35.5rem) {
    .our-packages__package-title {
        font-size: 2.5rem;
    }
}

@media (min-width: 40rem) {
    .our-packages__package-title {
        font-size: 2rem;
    }
}

.our-packages__package-benefit-list p {
    display: none;
    font-weight: 400;
}

.our-packages__package-benefit-title {
    color: var(--dark);

    /* text-transform: uppercase */
    display: flex;
    gap: 0.8125rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    .our-packages__package[style*="--package-color: #3A373A;"] {
        --package-color: #fff !important;
    }
}

@media (min-width: 74.5625rem) {
    .our-packages__package-title {
        font-size: 3.375rem;
    }
}

.our-packages__package-benefit-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.our-packages__package a {
    color: var(--dark);
    text-decoration: none;
}

.our-packages__package {
    border: 1px solid var(--package-color);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 100%;
    background-color: var(--white);
    position: relative;
}

.our-packages__packages {
    display: flex;
    gap: 20px;
    flex-direction: column;
    gap: 1.625rem;
}

@media (min-width: 48rem) {
    .our-packages__packages {
        /* display: flex */
        /* justify-content: space-around */
        /* gap: 20px */
        flex-direction: row;
    }
}

.our-packages__package-price {
    font-size: 2rem;
    font-weight: 700;
}

@media (min-width: 40rem) {
    .our-packages__package-price {
        font-size: 2.25rem;
    }
}

.our-packages__package-break {
    border-bottom: 1px solid var(--dark);
}

.contact-us {
    margin-top: 6.6875rem;
    margin-bottom: 6.6875rem;
    padding-bottom: 24.625rem;
    position: relative;
}

@media (max-width: 35.4375rem) {
    .contact-us {
        padding-bottom: 3rem;
    }
}

.our-packages__package-link {
    color: var(--package-color);
    display: block;
    text-align: center;
}

.page-container {
    padding-top: 100px;
}

@media (min-width: 48rem) {
    .page-container {
        padding-top: 202px;
    }
}

.about__team-list-role {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: var(--ywf--family-dm-mono);
    color: var(--dark);
}

@media (max-width: 47.9375rem) {
    .about__team-list .about__team-list-name {
        color: var(--primary);
    }

    .about__team-list .about__team-list-image {
        opacity: 1;
    }

    .about__team-list-role {
        opacity: 1;
    }
}

@media (min-width: 48rem) {
    .about__team-list:not(:has(article.active)) article:first-child .about__team-list-name,
    .about__team-list .active .about__team-list-name {
        color: var(--primary);
    }

    .about__team-list-role {
        opacity: 0;
    }
}

.about__team-list:not(:has(article.active)) article:first-child .about__team-list-role,
.about__team-list .active .about__team-list-role,
.about__team-list:not(:has(article.active)) article:first-child .about__team-list-image,
.about__team-list .active .about__team-list-image {
    animation: team-image-in .3s ease-out forwards;
}

.about__team-list:not(:has(article.active)) article .about__team-list-target,
.about__team-list .active .about__team-list-target,
.about__team-list:not(:has(article.active)) article .about__team-list-block-graphic,
.about__team-list .active .about__team-list-block-graphic {
    opacity: 1;
}

@keyframes team-image-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about__team-list-name {
    font-size: 2rem;
    color: var(--light);
    text-transform: uppercase;
    margin: 0;
}

@media (min-width: 35.5rem) {
    .about__team-list-name {
        font-size: 4rem;
    }
}

.about__team-list-image {
    max-width: 333px;
    height: auto;
    vertical-align: middle;
    opacity: 0;
    width: 100%;
}

@media (min-width: 48rem) {
    .about__team-list-image-col {
        padding-top: 47px;
        padding-right: 100px;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.contact-us__image {
    position: absolute;
    bottom: 110px;
    right: 40px;
    z-index: -1;
    max-width: 904px;
    width: 100%;
    height: auto;
}

@media (max-width: 35.4375rem) {
    .contact-us__image {
        width: 75vw;
        bottom: 0;
        right: 0;
    }
}

.contact-us__content-paragraph {
    font-weight: 700;
    max-width: 461px;
}

.contact-us__header-us {
    -webkit-text-stroke: 1px var(--primary);
}

.footer__bottom-section {
    display: flex;
    justify-content: space-between;
    margin-top: 9.3125rem;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    flex-direction: column;
    gap: 1rem;
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
    transition: clip-path .4s ease-out;
}

@media (min-width: 40rem) {
    .footer__bottom {
        flex-direction: row;
        margin-top: 9.3125rem;
        padding-bottom: 1.4375rem;
        border-bottom: 1px solid #3a373a;
    }
}

.contact-us__dialog {
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(10px);
}

.contact-us__dialog-inner {
    background-color: #1F1C1D;
    padding: 1rem;
    position: relative;
}

@media (min-width: 40rem) {
    .contact-us__dialog-inner {
        display: flex;
        padding: 4.9375rem 4.1875rem;
        gap: 14.125rem;
    }
}

.contact-us__dialog-title {
    font-size: 3.375rem;
    text-transform: uppercase;
    color: #CECFCF;
    margin: 0 0 4.5625rem;
}

@media (max-width: 39.9375rem) {
    .contact-us__dialog-title {
        margin-right: 3rem;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

.contact-us__dialog-title--book {
    color: var(--primary);
}

.contact-us__dialog input,
.contact-us__dialog textarea {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #7d7c7e;
    color: #ffffff;
    padding-bottom: 5px;
    padding-top: 5px;
    resize: none;
    border-radius: 0;
}

.contact-us__dialog input:focus,
.contact-us__dialog textarea:focus {
    outline: none;
    border-bottom-color: #fff;
}

.contact-us__dialog input[required]:valid,
.contact-us__dialog textarea[required]:valid {
    border-bottom-color: #6AB092;
}

.contact-us__dialog label {
    color: #ffffff;
    display: block;
}

.contact-us__form-input-wrapper {
    margin-bottom: 3.75rem;
}

@media (max-width: 39.9375rem) {
    .contact-us__form-input-wrapper {
        margin-bottom: 1.5rem;
    }
}

.contact-us__dialog-close-button {
    background-color: transparent;
    position: absolute;
    top: 2.125rem;
    right: 2.125rem;
    border: 0;
    z-index: 1;
}

@media (max-width: 39.9375rem) {
    .contact-us__dialog-close-button {
        top: 0.5rem;
        right: 0.5rem;
    }
}

.our-process__content {
    max-width: 675px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    position: relative;
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
}

@media (min-width: 35.5rem) {
    .our-process__content {
        padding: 0.6875rem 4.6875rem;
    }
}

@media (min-width: 48rem) {
    .our-process__content {
        margin-left: auto;
        margin-right: auto;
    }
}

.our-process__content svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    vertical-align: middle;
}

.our-process__content svg:nth-child(2) {
    left: auto;
    right: 0;
}

.our-process__content svg:nth-child(3) {
    top: auto;
    bottom: 0;
}

.our-process__content svg:nth-child(4) {
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
}

.vertical-text-right,
.vertical-text-left {
    display: inline-block;
    top: 0;
    right: 0;
    position: absolute;
    color: currentColor;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    pointer-events: none;
}

@media (max-width: 47.9375rem) {
    .vertical-text-right,
    .vertical-text-left {
        font-size: 0.5rem;
    }
}

.vertical-text-left {
    bottom: 0;
    top: auto;
    left: 0;
    transform: rotate(180deg);
}

.process__list {
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.process__list>div {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}

.process__list>div:not(.process__list-graphic-col) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.process__list .process__list-graphic-col {
    display: none;
}

@media (min-width: 48rem) {
    .process__list {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0;
    }

    .process__list>div:nth-child(even) {
        padding-right: 0px;
        padding-left: 50px;
    }

    .process__list .process__list-graphic-col {
        display: flex;
    }

    .process__list>div:nth-child(odd) {
        padding-right: 50px;
        padding-left: 0;
    }

    .process__list>div {
        margin-bottom: 4rem;
    }
}

.process__list-step-heading {
    font-size: clamp(3rem, 3vw + 1rem, 5.0625rem);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

@media (min-width: 48rem) {
    .process__list-step-heading {
        font-size: clamp(3rem, 3vw + 1rem, 5.0625rem);
    }
}

.process__list-step-heading-number {
    color: var(--primary);
    font-size: 3.375rem;
}

.process__list-follow {
    position: sticky;
    top: 50%;
    width: 28px;
    transform: translateX(-50%);
}

.process__list-progress {
    display: none;
}

@media (min-width: 48rem) {
    .process__list-progress {
        display: block;
        position: absolute;
        left: 50%;
        background-color: var(--primary);
        width: 2px;
        bottom: 0;
        top: 0;
    }
}

.process__list-static {
    position: absolute;
    top: 0;
    width: 28px;
    transform: translateX(-50%);
}

.process__robot-graphic {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.process__spaceship-graphic {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 30px;
}

.process__spaceship-2-graphic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    position: relative;
}

.results__list--featured {
    margin-bottom: var(--spacing-results-desktop);
    aspect-ratio: 224 / 125;
}

.home-hero__block {
    height: 100px;
}

@media (min-width: 35.5rem) {
    .home-hero__block {
        height: 202px;
    }
}

.home-hero__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex-grow: 1;
    padding-top: 4.3125rem;
    padding-bottom: 4.3125rem;
}

.contact-us__dialog-inner>div {
    flex-basis: 100%;
    position: relative;
}

.contact-us__dialog-inner-divide {
    background-color: #fff;
    width: 1px;
    position: absolute;
    left: 50%;
    top: 4.9375rem;
    bottom: 4.9375rem;
}

@media (max-width: 39.9375rem) {
    .contact-us__dialog-inner-divide {
        display: none;
    }
}

.about__team-list-target {
    display: none;
}

@media (min-width: 48rem) {
    .about__team-list-target {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        align-items: center;
        justify-content: center;
        width: 163px;
        height: 163px;
        display: flex;
    }
}

.about__team-list-block-graphic {
    display: none;
}

@media (min-width: 48rem) {
    .about__team-list-block-graphic {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: 0;
        display: block;
    }
}

.our-process__graphics {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 48rem) {
    .our-process__graphics-bottom-left {
        width: 100%;
    }
}

.our-process__graphics-bottom-left {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 25vw;
    height: auto;
    max-width: 245px;
}

@media (min-width: 48rem) {
    .our-process__graphics-top-right {
        width: 100%;
    }
}

.our-process__graphics-top-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 25vw;
    height: auto;
    max-width: 245px;
}

.main-nav-home__background {
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
}

.main-nav-home:hover,
.main-nav-home:focus {
    color: var(--white);
}

.main-nav-home:hover .main-nav-home__background,
.main-nav-home:focus .main-nav-home__background {
    transform: translateY(0);
}

.main-nav-home svg,
.main-nav-home svg {
    transition: transform .5s ease-in-out;
}

.main-nav-home:hover svg,
.main-nav-home:focus svg {
    transform: rotateY(360deg);
}

.home-hero__heading-text {
    display: inline;
}

@media (min-width: 48.0625rem) {
    .home-hero__heading-text {
        clip-path: inset(0 100% 0 0);
        transition: all .3s ease-out;
    }
}

.contact-us form {
    position: relative;
}

.contact-us__success {
    position: absolute;
    top: -1rem;
    bottom: -1rem;
    right: -1rem;
    left: -1rem;
    background: hsl(from var(--color4) h s l / 50%);
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.contact-us__error {
    position: absolute;
    top: -1rem;
    bottom: -1rem;
    right: -1rem;
    left: -1rem;
    background: hsl(from var(--primary) h s l / 50%);
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    color: #fff;
}

@media (min-width: 61.4375rem) {
    .home-hero__heading-text {
        display: block;
    }
}

.home-hero__content-image {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    width: 250px;
    height: auto;
}

@media (min-width: 40rem) {
    .home-hero__content-image {
        width: 450px;
    }
}

@media (min-width: 70.3125rem) {
    .home-hero__content-image {
        width: 621px;
        right: -2.5rem;
    }
}

.our-packages__package-benefit-title-point {
    flex-shrink: 0;
    margin-top: 3px;
    vertical-align: middle;
}

.our-process__graphics-center {
    z-index: -1;
    position: relative;
    height: auto;
    max-width: 675px;
    width: 75vw;
}

@media (min-width: 48rem) {
    .our-process__graphics-center {
        width: 100%;
    }

    .about__team-list-info {
        flex-basis: 56.98529412%;
    }
}

.about__team-list-person {
    display: flex;
    color: var(--light);
    position: relative;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 48rem) {
    .about__team-list-person {
        flex-direction: row;
        gap: 0;
    }
}

/* .results__item-inner {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
    transition: all .3s ease-out;
} */
.angled-button span {
    display: block;
}

@media (min-width: 40rem) {
    .page__intro {
        font-size: 1.5rem;
    }
}

@media (max-width: 39.9375rem) {
    .contact-us__dialog-inner .contact-us__dialog-column:nth-child(3) {
        display: none;
    }
}

.process__robot-graphic svg {
    width: 100%;
    vertical-align: middle;
}

.process__spaceship-graphic svg {
    width: 100%;
    vertical-align: middle;
}

.process__spaceship-2-graphic svg {
    width: 100%;
    vertical-align: middle;
}

process__spaceship-2-graphic {
    position: relative;
}

.process__spaceship-3-graphic {
    position: relative;
}

.process__spaceship-3-graphic svg {
    width: 100%;
    vertical-align: middle;
}

.footer__socials a {
    color: #3A373A;
}

.prices__title {
    color: var(--light);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0;
}

@media (min-width: 35.5rem) {
    .prices__title {
        font-size: 3.375rem;
    }
}

.main-nav__mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #030303;
    padding-top: 1rem;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    z-index: 15;
}

@media (min-width: 48rem) {
    .main-nav__mobile-menu {
        display: none;
    }
}

.main-nav__mobile-menu-moon {
    animation: rotate-moon 10s linear infinite;
}

@keyframes rotate-moon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.main-nav__mobile-menu-list-item {
    margin-bottom: 76px;
}

.main-nav__mobile-menu-list-item:nth-child(2) {
    margin-left: 40px;
}

.main-nav__mobile-menu-list-item:nth-child(3) {
    margin-left: 44px;
}

.main-nav__mobile-menu-rings {
    position: absolute;
    top: 70px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 428px;
    z-index: -1;
}

.main-nav__mobile-menu-link {
    color: #CECFCF;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.875rem;
}

.main-nav__mobile-menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 3.75rem;
}

.main-nav__mobile-menu-links {
    padding-top: 70px;
    position: relative;
    overflow: hidden;
    flex-grow: 1;
}

.main-nav__mobile-menu-header {
    display: flex;
    justify-content: space-between;
    padding-right: 1.375rem;
}

@media (min-width: 48rem) {
    .our-work__secondary-work-sections {
        display: flex;
        gap: 32px;
    }
}

.our-work__secondary-work-sections-item {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    clip-path: polygon(20px 0,
            calc(100% - 20px) 0,
            100% 20px,
            100% calc(100% - 20px),
            calc(100% - 20px) 100%,
            20px 100%,
            0 calc(100% - 20px),
            0 20px);
    margin-bottom: 1rem;
}

@media (min-width: 48rem) {
    .our-work__secondary-work-sections-item {
        margin-bottom: 0;
    }
}

.our-work__secondary-work-sections-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-work__secondary-work-sections-item-content {
    position: absolute;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (min-width: 35.5rem) {
    .our-work__secondary-work-sections-item-content {
        top: 1.5rem;
        bottom: 1.5rem;
        right: 1.5rem;
        left: 1.5rem;
    }
}

@media (min-width: 48rem) {
    .our-work__secondary-work-sections-item-content {
        top: 2.375rem;
        bottom: 2.375rem;
        right: 2.375rem;
        left: 2.375rem;
    }
}

.our-work__featured {
    margin-bottom: 32px;
}

.our-work__featured-item-title div:last-child {
    font-size: 0.75em;
}

.our-work__secondary-work-sections-item-content-title {
    margin: 0;
    font-size: 1.5rem;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-transform: uppercase;
    transition: color .3s ease-in-out;
}

@media (min-width: 40rem) {
    .our-work__secondary-work-sections-item-content-title {
        font-size: clamp(1.5rem, 5vw + 1rem, 2.25rem);
    }
}

@media (min-width:68.625rem) {
    .our-work__secondary-work-sections-item-content-title {
        font-size: 2.25rem;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.footer__copyright>*:hover {
    transition: none;
    color: #3a373a;
}

.footer__copyright>* {
    transition: color .5s ease-out;
}

.results__item-content-excerpt {
    display: none;
}

@media (min-width: 48rem) {
    .results__item-content-excerpt {
        display: block;
        transform: translateY(100%);
        opacity: 0;
        transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    }

    .results__list--main a:hover .results__item-content-excerpt,
    .results__list--main a:focus .results__item-content-excerpt {
        transform: translateY(0);
        opacity: 1;
    }

    .results__list--main a:hover .results__item-tag {
        background-color: #fff;
        color: #1F1C1D;
    }
}

.cookie-banner {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 10;
}

.cookie-banner__content {
    max-width: var(--desktop-max-width);
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(from var(--white) r g b / .8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 1rem;
    border: 4px solid var(--primary);
}

.cookie-banner__text {
    margin-bottom: 1rem;
}

.cookie-banner__accept {
    background-color: var(--primary);
    color: #fff;
    padding: 0.5em 1em;
    border: none;
}

.cookie-banner__text a {
    color: var(--primary);
    text-decoration: none;
}

.blog__tag {
    display: inline-block;
    padding: 0.5rem;
    border: 1px solid var(--dark);
    color: var(--dark);
    font-size: 0.75rem;
}

.company-tagline__service-list li {
    padding: 1rem;
    text-align: center;
}

.company-tagline__service-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

@media (min-width: 48rem) {
    .company-tagline__service-list {
        display: flex;
        flex-wrap: wrap;
    }
}

.spotlight__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 40rem) {
    .spotlight__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.spotlight__title {
    margin: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--light);
}

@media (min-width: 35.5rem) {
    .spotlight__title {
        font-size: 2rem;
    }
}

@media (min-width: 40rem) {
}

.spotlight__link {
    color: inherit;
}

.spotlight__link {
    display: flex;
    gap: 10px;
    text-decoration: none;
    flex-direction: column;
    margin-bottom: 2rem;
}

@media (min-width: 40rem) {
    .spotlight__link {
        position: relative;
        margin-bottom: 0;
    }
}

.blog__back-link {
    display: inline-block;
    margin-bottom: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.blog__dates {
    margin-bottom: 2rem;
}

.footer__menu .footer__menu-link:hover {
    filter: blur(0px) !important;
    -webkit-filter: blur(0px) !important;
}

.footer__menu:has(.footer__menu-link:hover) .footer__menu-link {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

main {
    background-color: var(--white);
}

main>*>*:last-child,
main>*:last-child>*:last-child,
.page-container>*:last-child>*:last-child {
    margin: 0;
}

@media (min-width: 48rem) {
    /* body:has(nav .container:hover) main {
        filter: blur(5px);
        -webkit-filter: blur(5px);
        background: var(--white);
    }

    body:has(nav .container:hover) footer {
        filter: blur(5px);
        -webkit-filter: blur(5px);
    } */
    main {
        transition: filter .5s ease-in-out, background .5s ease-in-out;
    }

    footer {
        transition: filter .5s ease-in-out;
    }

    main {
        position: relative;
        z-index: 1;
    }
}

.webflow-partner {
    background-color: rgb(66, 82, 255);
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.25em .75em;
    font-size: 0.75rem;
    border: 1px solid #2a38cf;
}

.our-packages__package-strategy-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 48rem) {
    .webflow-partner {
        font-size: .75rem;
    }

    .our-packages__package-strategy-header {
        justify-content: space-between;
        flex-direction: row;
        gap: 1rem;
    }
}

.footer__copyright-notice {
    text-align: right;
    font-size: 0.75rem;
    opacity: .8;
    margin-bottom: 1rem;
}

@media (min-width: 40rem) {
    .home-hero__heading-description {
        max-width: 226px;
        text-align: right;
    }
}

.about__team-heading {
    color: var(--primary);
    font-size: 2.25rem;
    margin-top: 7.75rem;
}

.results__heading {
    color: var(--primary);
    text-transform: uppercase;
    border-top: 1px solid #777777;
    padding-top: 1rem;
}

@media (min-width: 48rem) {
    .results__heading {
        font-size: 2.25rem;
    }
}

.our-work__secondary-work-sections-item a:before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 99%);
}

.spotlight__link-content {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 20PX;
    justify-content: center;
}

@media (min-width: 40rem) {
    .spotlight__link-content {
        display: flex;
        padding: 1rem;
        flex-direction: column;
        justify-content: flex-end;
        color: var(--white);
        z-index: 1;
        margin-top: 50%;
    }

    .spotlight__link-content:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(358deg, #000 0%, rgba(0, 0, 0, 0) 100%);
        z-index: -1;
    }

    .spotlight__link {
        clip-path: polygon(20px 0,
                calc(100% - 20px) 0,
                100% 20px,
                100% calc(100% - 20px),
                calc(100% - 20px) 100%,
                20px 100%,
                0 calc(100% - 20px),
                0 20px);
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .spotlight__links {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-bottom: 1rem;
    }

    .spotlight__links a:last-child {
        display: none;
    }
}

@media (min-width:68.625rem) {
    .spotlight__links a:last-child {
        display: flex;
    }
}

.company-tagline__service-list a,
.company-tagline__service-list span {
    color: var(--primary);
    text-transform: uppercase;
    font-size: 2rem;
    font-family: var(--ywf--family-orbitron);
    text-decoration: none;
    border: 1px solid transparent;
    padding: 0.5rem;
}

.company-tagline__service-list a:hover,
.company-tagline__service-list a:focus {
    border: 1px solid currentColor;
}

.our-work__featured-item:hover .our-work__featured-item-title>div:first-child,
.our-work__featured-item:focus .our-work__featured-item-title>div:first-child {
    color: var(--primary);
}

.our-work__featured-item:hover .our-work__featured-item-title>div:last-child {
    color: var(--dark);
}

.our-work__featured-item-title>div {
    transition: color .3s ease-in-out;
}

.our-work__secondary-work-sections-item a:hover .our-work__secondary-work-sections-item-content-title,
.our-work__secondary-work-sections-item a:focus .our-work__secondary-work-sections-item-content-title {
    color: var(--dark);
}

.popup {
    background: rgba(46, 46, 46, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    padding-left: 16px;
    padding-right: 16px;
}

.popup__content {
    background-color: var(--white);
    color: var(--dark);
    padding: 16px;
    max-width: 650px;
    border: 4px solid var(--dark);
}

@media (min-width:640px) {
    .popup__content {
        padding: 32px;
    }
}

.popup__close {
    float: right;
    background: transparent;
    border: none;
    color: var(--dark);
    padding: 8px;
}

.bento-hero__grid-item-link i {
    margin-left: 0.5rem;
}

.bento-hero__grid-item-content {
    position: relative;
    background-color: rgba(var(--white), 0.5);
    backdrop-filter: blur(5px);
    padding: 4rem 0 2rem 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

@media (max-width:47.9375rem) {
    .bento-hero__grid-item-content {
        padding: 2rem;
    }
}

.bento-hero__grid-item-link {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
}

@media (min-width: 769px) {
    .bento-hero__grid-item-link {
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        position: absolute;
        bottom: 0;
    }

    .bento-hero__grid-item-content-inner {
        transition: transform 0.1s ease-in-out;
    }

    .bento-hero__grid-item:hover .bento-hero__grid-item-content-inner {
        transform: translateY(-2rem);
    }
}

.bento-hero__grid-item:hover .bento-hero__grid-item-link {
    opacity: 1;
}

.bento-hero {
    position: relative;
    overflow: hidden;
}

.bento-hero__background-graphics {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.bento-hero__graphic {
    position: absolute;
    background-color: var(--primary);
    border-radius: 50%;
    opacity: 0.2;
}

.graphic-1 {
    width: 150px;
    height: 150px;
    top: 10%;
    left: 5%;
}

.graphic-2 {
    width: 250px;
    height: 250px;
    top: 50%;
    left: 80%;
}

.graphic-3 {
    width: 100px;
    height: 100px;
    top: 80%;
    left: 20%;
}

.bento-hero__grid {
    position: relative;
    z-index: 1;
}

.bento-hero__icon {
    font-size: 2rem;
    display: block;
}

.bento-hero {
    padding: 4rem 0;
}

.bento-hero__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.bento-hero__grid-item {
    background-color: transparent;

    /* padding: 2em 2rem 2rem */
    border-radius: 0.5rem;
    border: 1px solid var(--dark);
    color: var(--dark);
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.bento-hero__grid-item--large {
    grid-column: span 2;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    background-image: url('../images/ai-test.png');
}

@media (max-width:47.9375rem) {
    .bento-hero__grid-item--large {
        text-align: center;
    }
}

.bento-hero__heading {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.bento-hero__subheading {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    max-width: 60ch;
}

.bento-hero__grid-item-title {
    font-size: 1.5rem;
    margin: 1rem 0;
}

@media (max-width: 768px) {
    .bento-hero__grid {
        grid-template-columns: 1fr;
    }

    .bento-hero__grid-item--large {
        grid-column: span 1;
        background-position: center bottom;
    }
}

.bento-hero__grid-item-content-description {
    margin: 0;
}

@media (max-width:47.9375rem) {
    .bento-hero__grid-item-content-description {
        margin: 0 0 1rem 0;
    }

    .bento-hero__grid .angled-button {
        background-color: var(--primary);
        color: #fff;
    }
}
